.div-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.title {
  align-content: center;
  margin-left: 20px;
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: bolder;
}
.nav-bar {
  display: flex;
  background-color: blue;
  border-radius: 10px;
  color: white;
  width: 90%;
}

.menu {
  display: flex;
  list-style: none;
  font-family: sans-serif;
}

li {
  margin: 10px;
}
.enroll-login {
  display: flex;
  width: 90%;
  height: 300px;
  background-color: aqua;
  margin-top: 10px;
  font-family: sans-serif;
}

.enroll {
  width: 65%;
}

.login {
  width: 50%;
  margin-top: 35px;
  margin-left: 50px;
}

#tb-name,
#tb-email {
  width: 50%;
  margin: 5px 0px 5px 0px;
  height: 22px;
}

.description {
  font-family: sans-serif;
}

.btn-enroll,
.btn-login {
  background-color: blue;
  color: white;
  border-radius: 5px;
  height: 10%;
  width: 15%;
  padding: 5px;
}
